

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.desktop {
    display: block;
}

.mobile {
    display: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.desktop  h1 {
    margin: 2px;      
    margin-right: 170px;        
}

.desktop  .logo {
    display: flex;              
    align-items: center;        
}

.desktop  .logo {
    height: 40px;               
    margin-right: 10px;        
}
.desktop body {
    background-image: url('bg.jpg'); 
    background-repeat: no-repeat ; 
    background-size: cover;
    background-position: center; 
    font-family: Arial, sans-serif;
    /* line-height: 1.6; */
    /* margin: 0;
    padding: 0; */
    overflow-x: hidden;

}

.desktop section {
    
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background: none; 
    min-height: 100px;
    
}

.desktop header {
    display: flex;            
    justify-content: space-between; /*distribute equal space between logo h1 and nav*/
    align-items: center;      /*top bottom left right har taraf items centered hon*/  
    background-color: rgba(68, 68, 68, 0.5);
    /* background-color: #444444;     */
    padding: 10px 20px;         
    color: #fff;  
    /* position: sticky; means neechy scroll mein bhi yeh nazar aye */
    top: 0; /*navbar stick k upar 0px distance */
    /* z-index: 10000;  It provides a high stacking level to make sure it’s visible above other content. means when we xcroll it moves on other elements      */
    position: fixed; /* You can try using fixed instead of sticky */
    /* top: 0; */
    left: 0;
    width: 100%;
    z-index: 10000;
}


.desktop #navbar ul {
    list-style-type: none;      
    margin: 0;
    padding: 0;
    display: flex;   
    font-size: 19px;

}

.desktop #navbar {
    display: flex; 
    align-items: center;  
    position: sticky;
    top: 0;
    width: 100%;
}


.desktop #navbar ul li {
    margin-left: 20px;          
}

.desktop #navbar ul li a {
    text-decoration: none;      
    color: #fff;           
    padding: 5px 10px;          
    transition: background-color 0.3s ease; 
    font-size: 19px;

}

.desktop #navbar ul li a:hover {
    background-color: #f5efef;     
    border-radius: 10px;   
    color: #090909; 
}
.desktop .logo img {
    filter: brightness(0) invert(1);
}

.desktop .cert{
    background-color: #090909;
    color: #fff;
    text-align: center;
    padding: 8px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.desktop footer {
    background-color: #090909;
    color: #fff;
    text-align: center;
    padding: 7px 0px;
    bottom: 0;
    width: 100%;
}

.desktop section {
    border: none; 
}

.desktop section {
    margin: 0;
    padding: 0;
}

.desktop #hero {

    /* background-size: cover;
    background-position: center; */
    background-image: url('bg.jpg'); 
    background-repeat: no-repeat ; 
    background-size: cover;
    background-position: center; 
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    padding: 30px 20px; 
    direction: rtl;
    text-align: left;
}
.desktop #her {

    /* background-size: cover;
    background-position: center; */
    /* background-image: url('bg.jpg'); 
    background-repeat: no-repeat ; 
    background-size: cover;
    background-position: center;  */
    background-image: linear-gradient(rgb(62, 14, 15), rgb(24, 23, 67) );

    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    padding: 30px 20px; 
    direction: rtl;
    text-align: left;
}
.desktop .heading {
    margin-left: 10px;
    font-size: 23px;
    /* margin-right: 170px; */
    white-space: nowrap;
    /* display: inline; */
}

.desktop #hero p {
    color: white;
    margin: 0;
    padding: 20px; /* Add padding for better readability */
    font-size: 24px; /* Adjust font size for readability */
    background: rgba(80, 76, 76, 0.4); /* Add a semi-transparent background for contrast */
    border-radius: 10px; /* Rounded corners for a modern look */
    max-width: 80%; /* Limit width for better readability */
    text-align: left; /* Ensure text alignment is correct for RTL */
}
.desktop #her p {
    color: white;
    margin: 0;
    padding: 20px; /* Add padding for better readability */
    font-size: 24px; /* Adjust font size for readability */
    background: rgba(80, 76, 76, 0.4); /* Add a semi-transparent background for contrast */
    border-radius: 10px; /* Rounded corners for a modern look */
    max-width: 80%; /* Limit width for better readability */
    text-align: left; /* Ensure text alignment is correct for RTL */
}

.desktop .social-icon {
    width: 40px; /* Adjust size as needed */
    height: 38px; /* Adjust size as needed */
    vertical-align: middle; /* Align with text */
    margin-left: 10px; /* Space between CV button and LinkedIn icon */
    border-radius: 15px;
    border-color: black;
}


.desktop #about {
    background-image: url('bg.jpg'); 
    background-repeat: no-repeat ; 
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.desktop .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    width: 100%;
    padding: 50px 0px;
}

.desktop .about-text {
    flex: 1;
    padding: 80px;
    color: white;
    font-size: 20px;
}

.desktop .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.desktop .image-content img {
    max-width: 55%; 
    height: auto;    
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); 
    margin-bottom: 40px;
    filter: brightness(0.2) invert(1);

}

.desktop .btn{
    padding: 3px 20px;
    margin: 34px 0px;
    border: 4px solid rgb(254, 254, 255);
    color: rgb(247, 242, 242);
    background-color: rgb(14, 22, 83);
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

.desktop .btn:hover{
background-color: #f7f4f4;     
border-radius: 10px;   
color: #1b1616; 
border: 4px solid rgb(9, 9, 10);

}






.desktop #skills {
    background-image: url('bg.jpg') ; 
    background-repeat: no-repeat ; 
    background-size: cover;
    background-position: center; 
    padding: 70px;
    text-align: center;
    height: 500px;
}

.desktop #skills h2 {
    font-size: 46px;
    color: #ffffff;
    margin-bottom: 25px;
}

.desktop .skills-container {
    display: flex;
    justify-content: center; 
    gap: 200px; 
}

.desktop .skills-list {
    flex: 1;
    text-align: left; 
    max-width: 30%; 
}

.desktop #skills h3 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
}

.desktop #skills ul {
    list-style-type: none; 
    padding: 0;
}

.desktop #skills ul li {
    font-size: 18px;
    color: #ffffff;
    margin: 15px 0;
}

.desktop #skills ul li:hover {
    color: #0e0d0d;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}


.desktop #skills .box{
    border: 2px solid rgb(255, 249, 249);
    background-color: rgba(68, 68, 68, 0.4);
    padding: 12px;
    margin: -12px 7px;
    border-radius: 23px;
    margin-bottom: 5px;
}
.desktop #education {
    background-image: url('bg.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    padding: 70px;
    color: #fff;   
}

.desktop #education h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
}

.desktop .education-list img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 40%; 
    border: 3px solid #090909;
    object-fit: cover;

}

.desktop .education-container {
    display: flex;
    justify-content: center; 
    gap: 100px; 
    flex-wrap: wrap;
}

.desktop .education-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    max-width: 36%;
    flex: 1;
}

.desktop .education-year {
    display: flex;
    align-items: center; 
    margin-bottom: 15px; 
}

.desktop .education-year h3 {
    font-size: 18px;
    margin: 0;
}

.desktop #education p {
    margin-bottom: 30px;
}

.desktop #projects {
    background-image: url('bg.jpg'); 
    background-repeat: no-repeat ; 
    background-size: cover;
    background-position: center; 
    padding: 70px;
    color: #fff;
}

.desktop #projects h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.desktop #projects ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop #projects ul li {
    font-size: 18px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.desktop #projects ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}


.desktop .dropdown {
    position: relative;
    display: inline-block;
}

.desktop .dropbtn {
    background-color: inherit;
    color: rgb(11, 10, 10);
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.desktop .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
}

.desktop .dropdown-content a {
    color: white; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.desktop .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}


.desktop .dropdown:hover .dropdown-content {
    display: block;
}

.desktop .dropdown:hover .dropbtn {
    background-color: #555;
}




.desktop #certificates {
    padding: 30px;
    margin: 90px auto;
    text-align: center;
}

.desktop #certificates h2 {
    color: #fcfcfc;
    margin-bottom: 30px;
}

.desktop #certificates ul {
    list-style-type: none; 
    padding: 0;
}

.desktop #certificates ul li {
    font-size: 18px;
    color: #fffdfd;
    margin: 13px 0;
}



.desktop #courses {
    background-image: url('bg.jpg'); 
    background-repeat: no-repeat ; 
    background-size: cover;
    background-position: center; 
    padding: 90px;
    color: #fff;
}

.desktop #courses h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.desktop #courses ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop #courses ul li {
    font-size: 18px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.desktop #courses ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

