

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 10px;              
}

.logo {
    display: flex;              
    align-items: center;        
}

.logo {
    height: 40px;               
    margin-right: 10px;        
}
body {
    background-image: url('bg.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


header {
    display: flex;            
    justify-content: space-between; 
    align-items: center;        
    background-color: rgba(68, 68, 68, 0.5);
    /* background-color: #444444;     */
    padding: 10px 20px;         
    color: #fff;  
    position: sticky; 
    top: 0; 
    z-index: 1000;             
}


#navbar ul {
    list-style-type: none;      
    margin: 0;
    padding: 0;
    display: flex;             
}

#navbar {
    display: flex; 
    align-items: center;  
    position: sticky;
    top: 0;
}


#navbar ul li {
    margin-left: 20px;          
}

#navbar ul li a {
    text-decoration: none;      
    color: #fff;           
    padding: 5px 10px;          
    transition: background-color 0.3s ease; 
}

#navbar ul li a:hover {
    background-color: #f5efef;     
    border-radius: 10px;   
    color: #090909; 
}
.logo img {
    filter: brightness(0) invert(1);
}


footer {
    background-color: #090909;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#hero {

    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    padding: 0 20px; 
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; 
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
h2{
    color: white;
}
.text-content {
    flex: 1;
    padding: 20px;
}
