

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 10px;              
}

.logo {
    display: flex;              
    align-items: center;        
}

.logo {
    height: 40px;               
    margin-right: 10px;        
}
body {
    background-image: url('bg.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


header {
    display: flex;            
    justify-content: space-between; 
    align-items: center;        
    background-color: rgba(68, 68, 68, 0.5);
    /* background-color: #444444;     */
    padding: 10px 20px;         
    color: #fff;  
    position: sticky; 
    top: 0; 
    z-index: 1000;             
}


#navbar ul {
    list-style-type: none;      
    margin: 0;
    padding: 0;
    display: flex;             
}

#navbar {
    display: flex; 
    align-items: center;  
    position: sticky;
    top: 0;
}


#navbar ul li {
    margin-left: 20px;          
}

#navbar ul li a {
    text-decoration: none;      
    color: #fff;           
    padding: 5px 10px;          
    transition: background-color 0.3s ease; 
}

#navbar ul li a:hover {
    background-color: #f5efef;     
    border-radius: 10px;   
    color: #090909; 
}
.logo img {
    filter: brightness(0) invert(1);
}


footer {
    background-color: #090909;
    color: #fff;
    text-align: center;
    padding: 7px 0px;
    bottom: 0;
    width: 100%;
}

section {
    border: none; 
}

section {
    margin: 0;
    padding: 0;
}

#hero {

    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    padding: 0 20px; 
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px; 
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
h2{
    color: white;
}
.text-content {
    flex: 1;
    padding: 20px;
    max-width: 50%;
}






#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    padding: 50px;
}

.about-text {
    flex: 1;
    padding: 80px;
    color: white;
    font-size: 20px;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-content img {
    max-width: 260px; 
    height: auto;    
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); 
    margin-bottom: 40px;
    filter: brightness(0.2) invert(1);

}

.btn{
    padding: 3px 20px;
    margin: 34px 0px;
    border: 4px solid rgb(254, 254, 255);
    color: rgb(247, 242, 242);
    background-color: rgb(14, 22, 83);
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
background-color: #f7f4f4;     
border-radius: 10px;   
color: #1b1616; 
border: 4px solid rgb(9, 9, 10);

}